In order to run the code, you'll need these main packages:

- [Python](https://www.python.org/)>=3.5
- [Numpy](http://www.numpy.org/)>=1.14.3
- [PyTorch](https://www.pytorch.org/)>=1.1

!pip install mrcnn
!pip install inflect
!pip install ftfy                 
!pip install regex                
!pip install tqdm                                     
!pip install colormap
!pip install easydev